.banner_area
{    display: flex;
    width: 100%;
    height: 50%;
    position: fixed;
    /* top: 150px; */
   background-image: url(./assets/chefs_image.jfif);
    background-size:cover;
    left:-3px;
    right: -2px;
    background-repeat: no-repeat;
    position: relative;
}
.banner_area h1{
    padding-top: 5px;
    font-size: 35px;
    /* margin: 500px 500px 500px 500px; */
    text-transform: uppercase;
    color:black;
    letter-spacing: 3px;
    text-align: center;
} 

  .our__priority__to__serve {
    margin-top: 3rem;
    text-align: center;
  }
  .row {
    width: 100%;
  }
.column {
    margin-top: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
  }
  .column:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .webad {
    border-radius: 6px 6px 0 0;
    width: 100%;
  }
  .column_text {
    padding: 1rem;
    text-align: left;
    color: #1d3557;
  }
  .text-lg {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #1d3557;
    font-weight: 900;
  }
  @media  (min-width:768px){
      
  .our__priority__to__serve{
    position: relative;
    margin: 3rem 0;
  }

 
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2rem;
  }

  .column {
    flex-basis: 30%;
    background-color: rgb(168, 236, 238);
    border-radius: 6px;
  }
 

  }